<h1>Account Activation</h1>

 <h1><%= fa_icon "twitter", class: "ms-md-5", style: "font-size:100px" %> </h1>
<p>
   Hi <%= @user.name %>
</p>
<p>
  Welcome to Sonam APP. Click on the link below to activate your accout:
</p>


<%= link_to "Activate account", edit_account_activation_url(@user.activation_token, email: @user.email, host: "tweetme.online") %>
