<% # @user will gets it value from show method(show_page) which is profile page of user meaning @user value will be the id of user %>
<% # when user clicks profile of other user show method is triggered which render show page and the id of that user will be passed in @user in show.html.erb which will be passed in _follow_form.html.erb aswell as follow and unfollow.html.erb %>
<%= form_with(model: current_user.active_relationships.build, local: true) do |f| %>
    <div> <%= hidden_field_tag :followed_id, @user.id %> </div>
    <%= f.submit "Follow", class: "btn btn-primary" %>
<% end %>

<%# current_user.active_relationships.build(followed_id: other_user.id) creates a new active_relationship in memory where the current_user is the follower and other_user is the followed user, but it does not save this relationship to the database.

current_user.active_relationships.create(followed_id: other_user.id) creates a new active_relationship and saves it to the database. The current_user is the follower and other_user is the followed user. %>