.container {
  padding-top: 10rem !important;
}

.users {
  list-style: none;
  li {
    border-bottom: 1px solid grey;
    padding: 10px 0px;
    overflow: auto;
  }
}

.pagination .page-item .page-link {
  color: #007bff; /* This can be any color you want for the text */
  background-color: #fff; /* Background color for the links */
  border: 1px solid #dee2e6; /* Border color for the links */
  transition: color 0.2s, background-color 0.2s, border-color 0.2s; /* Smooth transition for hover effects */
}

/* Hover state of the pagination links */
.pagination .page-item .page-link:hover {
  color: #fff; /* Text color for hover */
  background-color: #7cb1eb; /* Background color for hover */
  border-color: #007bff; /* Border color for hover */
}

/* Active state of the pagination link */
.pagination .page-item.active .page-link {
  color: #fff; /* Text color for active link */
  background-color: #007bff; /* Background color for active link */
  border-color: #007bff; /* Border color for active link */
}

/* Disabled state of the pagination link */
.pagination .page-item.disabled .page-link {
  color: #6c757d; /* Text color for disabled link */
  background-color: #fff; /* Background color for disabled link */
  border-color: #dee2e6; /* Border color for disabled link */
}

//css for image in mobile version
.image {
  width: 100%;
  height: auto;
}

@media (min-width: 576px) {
  .image {
    width: 300px;
  }
}

@media (min-width: 768px) {
  .image {
    width: 400px;
  }
}
@media (min-width: 992px) {
  .image {
    width: 600px;
  }
}
.logo-text {
  font-family: "Pacifico", cursive; /* This is just an example, replace with your desired font */
  font-size: 1.5em;
  color: rgb(75, 73, 73); /* Twitter's brand color */
}

.list_shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s;
}

.list_shadow:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}
