#error_explanation {
    width: 100%;
    color: red;
    padding: 20px;
    border-radius: 5px;
  }
  
  #error_explanation ul {
    list-style: none;
    padding: 0;
  }
  
  #error_explanation ul li {
    margin: 5px 0;
  }