<footer class="footer-07">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <h2 class="footer-heading"><a href="#" class="logo">Rails Tutorial</a></h2>
                <p class="menu">
                    <%= link_to "Home", root_path %>
                    <%= link_to "Help", help_path %>
                    <a href="#">About</a>
                    <a href="#">Listing</a>
                    <a href="#">Blog</a>
                    <%= link_to "CONTACT", contact_path %>
                </p>
                <ul class="ftco-footer-social p-0">
                    <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top"
                            title="Twitter"><span class="ion-logo-twitter"></span></a></li>
                    <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top"
                            title="Facebook"><span class="ion-logo-facebook"></span></a></li>
                    <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top"
                            title="Instagram"><span class="ion-logo-instagram"></span></a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12 text-center">
                <p class="text-light">
                <script class="copyright">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This is test footer template </script>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</footer>